/* 通用样式 */
* {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif !important;
}
body {
	background:#EFEFEF;
}
#footer {
	font-size:12px;
	margin:12px 0;
}
#header {
	background:#2C343B;
	height:260px;
	margin-bottom:30px;
}
.navbar-inverse {
	background: #3B434B;
	border: none;
}
#header-title {
	margin-top:80px;
}
#header-title h1{
	color:#EEEEFF;
	text-decoration:none;
}
#header-title h1 a{
	color:#EEEEFF;
	text-decoration:none;
}
#header-title h2{
	margin:0;
}
.post{
	background:#FCFCFC;
	padding:10px 30px;
	box-shadow:0 1px 4px #CCC;
	margin-bottom:30px;
	font-size:16px;
}
.post-content{
	padding:0 20px;
}
.post-content p{
	margin-bottom:1.6em;
}
.post-content p{
	text-indent:2em;
}
.post-title{
	border-bottom:5px solid #EEE;
	margin-bottom:20px;
	margin-top:10px;
}
.post-title a{
	color:#333;
	text-decoration:none;
}
.post-info{
	color:#999;
	border-top:5px solid #EEE;
	margin-top:30px;
	margin-bottom:30px
}
.post-date{
	color:#999;
	font-size:24px;
}